:root{
    --baseColor : #252525;
    --baseColorTransp : #252525b0;
    --baseTextColor : #e9e9e9;

    --var1Color : #515151;
    --var1TextColor: #252525;

    --basePadding: 1em;
    --halfBasePadding : 0.5em;

    --baseMargin: 1em;
    --halfBaseMargin: 0.5em;

    --baseAngle : 10px;
}

/* ------------------------------------------------------------- */
/* ------------------------     BODY    ------------------------ */
/* ------------------------------------------------------------- */

*{
    margin: 0;
    padding: 0;

    transition: 0.2s;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: #191919;
}

*::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
    border-radius: 9px;
    
}

body{
    font-family:'Montserrat Alternates', sans-serif;;
    background: var(--baseColor);
    color : var(--baseTextColor);
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------------------- */
/* ------------------------   HEADER    ------------------------ */
/* ------------------------------------------------------------- */

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

ul{
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    background-color: var(--var1Color);
    color: var(--var1TextColor);
    border-radius: var(--baseAngle);
}

li{
    padding: var(--halfBasePadding);
    margin: 0.1em;
    font-size: 1.5em;
}

h1{
    font-style: italic;
    font-size: 8vw;
    font-size-adjust: 1.2em;
    margin: 0.3em;
}

a{
    text-decoration: none;
}
/* ------------------------------------------------------------- */
/* ------------------------    MAIN     ------------------------ */
/* ------------------------------------------------------------- */

/* ________________________    VIDEO    ________________________ */

.video{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
    padding: var(--basePadding);
}

.video__logo{
    width: 80vw;
    max-width: 1080px;
    height: auto;
}

/* ________________________    FILMS    ________________________ */
#t_best, #t_best_action, #t_best_animation, #t_best_sf{
    /*font-weight: 500; */
    /*font-weight: 500; */
    display: flex;
    justify-content: flex-start;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1em;
    flex-wrap: nowrap;
    font-size: 1.5em;
    box-shadow: 0 0 10px #000;
    border-radius: 30px;
}

#best, #best_action, #best_animation, #best_sf{
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    padding: 0.5em;
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: inset 0 0 10px #000;
    border-radius: 15px;
    flex-wrap: wrap;
}

#images_best, #images_best_action, #images_best_animation, #images_best_sf{
    display: flex;
    margin: 0.5em;
    border-radius: var(--baseAngle);
    background-color: #252525;
    box-shadow: 0px 0px 10px black;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
}

img.images_best, img.images_best_action, img.images_best_animation, img.images_best_sf{
    border-radius: var(--baseAngle);
    margin: var(--halfBaseMargin);
    padding: var(--halfBasePadding);

    background-color: #51515136;
    box-shadow: inset 0 0 10px #000;
    
}

.images_best:hover, .images_best_action:hover, .images_best_animation:hover, .images_best_sf:hover{
    scale : 110%;
    transition: 0.5s;
}

/* ________________________    MODAL    ________________________ */

.modale{
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity : 0;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:auto;
    background-color: var(--baseColorTransp);
}

.modaleContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position : absolute;
    color: var(--var1ColorText);
    left:0;
    right:0;
    background-color: var(--var1Color);
    border-radius: var(--baseAngle);
    margin: 5em;
    padding: 3em;
    box-shadow: 0 0 35px #000;
    border-radius: 15px;
}

.modale:target{
    visibility: visible;
    opacity: 1;
}

.close{
    font-size: 3em;
    position: absolute;
    right: 30px;
    top : 15px;
    color: grey;
}

#affiche{
    margin: var(--baseMargin);
    padding: var(--basePadding);
}

#infosFilm{
    margin: var(--baseMargin);
    padding: var(--basePadding);
    max-height: 400px;
    overflow: auto;
}

h3{
    font-size: 2em;
    margin: var(--baseMargin);
}

.infoModale{
    display: flex;
    max-height: 800px;
    flex-direction: row;
    margin: var(--baseMargin);
    align-items: center;
}

#quit{
    font-size: 2em;
    padding: var(--basePadding);

    border-radius: var(--baseAngle);
    border-style: none;
}

/* ________________________   DEROULANT   ________________________ */
li.menu__btn{
    display: block;
}
.menu__btn:hover{ /* Accueille et categorie survole*/
    background-color: var(--baseTextColor);
    border-radius: var(--baseAngle);
}

li.menu__btn ul{ /* elmt menu deroulant */
    display: none;
    position: absolute;
    text-align: left;
    align-items: center;
    font-size: 0.5em;
    transition: 1s;
    margin-top:14px;
    margin-left: -12px;
    
}

li.menu__btn:hover ul{
    display: block;
}

li.menu__btn ul li a:hover{
    color: var(--baseTextColor);
}



li a {
    color: var(--baseColor);
}



/* ------------------------------------------------------------- */
/* ------------------------   FOOTER    ------------------------ */
/* ------------------------------------------------------------- */

footer{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.icon_footer{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.icon_footer__ic{
    width: 5%;
    margin: 0.5em;
    height: auto;
}