body{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

/* --------------------------------- */
/* ------------- header  ----------- */
/* --------------------------------- */

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}

.menu__btn{
    margin: 1em;
}

.logo{
    margin-left: auto;
    margin-right: auto;  
}

/* --------------------------------- */
img{
   height: 270px; 
   width: auto;
   padding : 0.5%;
   border-radius: 1em;
}

img:hover{
    scale: 105%;
    transition: 50ms;
}

h2{
    justify-content: center;
    text-align: center;
    color: azure;
}
.video{
    display: flex;
    height: 25pc;
    width: auto;
    margin: auto;
}

.video__logo{
    height: 25pc;
    margin:auto;
    justify-content: center;
    align-items: center;
}

/* --------------------------------- */
#best{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    padding: 1em;
}
#best:hover{
    
}


div#images_best, div#images_best_action, div#images_best_animation, div#images_best_sf {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
}

div#images_best, div#images_best_action, div#images_best_animation, div#images_best_sf:hover{
    overflow-y: hidden;
    overflow-x: auto;
}
#recap_film{
    display:block;
}

/* --------------------------------- */
/* -----------   footer    --------- */
/* --------------------------------- */

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:3em;
}

.tf{
    margin: auto;
    justify-content: left;
}

.icon_footer{
    justify-content: right;
}

.icon_footer__ic{
    width: 25px;
    height: 25px;
    margin: 3px;
}